<!DOCTYPE html>
<html>
	<head>
		<title>prugel</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/prugel.css"\>
		<script src="{{ url_for('static', filename='jquery-1.7.min.js') }}"></script>
	</head>
	<body>
		<h1>Prügel</h1>
		<p class="form">Spar mogens prügel?</p>
			<select id="mogens" class="form">
				<option value="1">Yes</option>
				<option value="0">No</option>
			</select>
		<p id="playtext" class="form">Player amount</p>
		<img class="preload" src="/static/images/cards.png" id="preload"/>
			<select onchange="playerUpdate(this.value)" id="players" class="form">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select><br>
			<p class="form">Player names:</p>
			<input type="text" id="ply0" class="form"><br>
			<input type="text" id="ply1" class="form"><br>
			<input type="text" id="ply2" class="form"><br>
			<input type="text" id="ply3" class="form"><br>
			<input type="text" id="ply4" class="form"><br>
			<input type="text" id="ply5" class="form"><br>
			<input type="text" id="ply6" class="form"><br>
			<input type="text" id="ply7" class="form"><br>
			<input type="text" id="ply8" class="form"><br>
			<input type="text" id="ply9" class="form"><br>
			<button id="start" class="form">START</button>
			<script>
			for (var x = 1; x < 10; x++) {$('#ply'+x).hide();}
			function playerUpdate(num){
			for (var x = 0; x < 10; x++) {
					if (x < num){
					$('#ply'+x).show();
					}
					else {
					$('#ply'+x).hide();
					}
				}			
			}
			</script>
		<div id="card-table">
		</div>
		<script src="/static/cards.js"></script>
		<script src="/static/prugel.js"></script>
		<h2>Rules</h2>
		<p>Prügel is a card game commonly played as a drinking game (at least at Aarhus University)</p>
		<p>The rules are as follows: </br> 
		Starting with the first player, each player takes a turn, turning over the topmost card of the deck. </br> 
		If you turn over a black card, you take the card for yourself, if you turn over a red card, you can take it for yourself or give it to someone else. </br>
		The purpose of the game is to have a hand of 25 exactly, or to have 5 cards in your hand at the same time.</br>
		You can never draw past 25, if a card would put you above the limit of 25, it is discarded instead. </br>
		Likewise you cannot give a red card to a player if it would put them above 25. If no players can accept a red card, it is discarded instead.</br>
		Once you reach a sum of 25 in your hand, or 5 cards at once, you 'win', meaning that you discard your hand and get a point on your win tally, you then start a new hand.</br>
		The game goes on until there are no cards left in the deck, after which all cards are reshuffled, and the game starts over.</br>
		There are 2 special cards in the game: Queen of Diamonds (ruder Helge), and Jack of Spades (spar Mogens), these two cards grant an instant win when drawn, without discarding the player's hand. </br>
		Aces are high(14), unless an ace would put you over the sum of 25, in which case it is low(1) (blackjack rules).</br></p>
		<h2>Spar Mogens Prügel</h2>
		<p>The rules for Spar Mogens Prügel is the same as for regular Prügel, except ALL the cards are Spar Mogens.</p>
		<h2>How to play</h2>
		<p>Click the top card of the deck in order to turn over the card, if it is a black card, click it to take it, if it is red, click any player's name or hand to give them the card.</br>
		Cards cannot be given to players who cannot accept them, and cards are automatically discarded to the right if they cannot be taken. </br>
		Spar Mogens and Ruder Helge will automatically go to their own piles on the right once drawn, and wins are automatically tracked and displayed at the end of the game </br></p>
	</body>
	</footer>
	<p><i>This iteration of prügel was developed by team out_of_ideas during AUHack 2018.</i></p>
</html>