<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AUHack Flask Workshop</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <div class="login">
            <img src="{{ url_for('static', filename='images/AUHack_logo.png') }}">
            <h2>AUHack Group X</h2>
            <form action="" method=post>

                <div>
                    <p>Username:</p>

                    <input type=text name=username >


                    <p>Password:</p>

                    <input type=password name=password >

                </div>

                <button class="submit" type=submit>Login</button>
            </form>
        </div>

    </body>
</html>