body {
    background-color: lightgrey;
    margin: 0px;
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkgrey;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.menu ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.container {
    margin: 8px;
}

#homeHeader {
    text-align: center;
}



